

@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');
*{
    font-family: 'Proza Libre', sans-serif;
}
.quicksearchContent{
    position: relative;
    padding: 3%;
    background-color: rgb(252, 241, 214);
}
.quickSectionHeading{
    font-weight: 900;
}
.quickSectionPara{
    font-size: 1em;
    text-transform: capitalize;
}
.menuTimePic{
    width: 300px;
    height: 200px;
}
.mealCardContainer{
    text-align: center;
}
.mealCard{
    width: 27%;
    margin: 0 5% 5% 0;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
}
.mealCard:hover{
    box-shadow: 0 0 10px 7px rgb(123, 122, 122);
}
.mealtimeContainer{
    position: relative;
    padding: 0 auto;
}
.card-title, .card-text{
    color: black;
    text-transform: capitalize;
}
.card-title{
    font-weight: 900;
}

@media only screen and (max-width:768px){
    .mealCard{
        width: 45%;
    }
    .mealCardContainer{
        text-align: left;
    }
}
@media only screen and (max-width:425px){
    .mealCard{
        width: 100%;
    }
}