.detailSection {
  background-color: rgb(252, 241, 214);
  padding-top: 10%;
  padding-bottom: 5%;
}
.detailContent {
  width: 80%;
  margin: 0 auto;
}
.tabArea {
  padding: 3% 0;
}
.overviewHeading,
.contactHeading {
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: underline;
  font-size: 1.2em;
}

.socialIcon {
  font-size: larger;
  font-weight: 900;
}
.menuList {
  display: flex;
}
.gadha {
  padding-top: 30%;
}
.menu {
  width: 10%;
}
.menuContent {
  background-color: rgb(248, 248, 248);
  margin: 1%;
  padding: 2%;
  width: 48%;
  display: inline-block;
  border: 2px solid blue;
}
.menuDetail {
  justify-content: space-between;
  display: flex;
  text-transform: capitalize;
}
.menuName {
  border: 2px solid greenyellow;
}
.menuPrice {
  border: 2px solid skyblue;
}
.menuInfo {
  display: none;
}

.newMenuContaine {
  border: 2px solid sandybrown;
}
.newMenuList {
  display: flex;
  justify-content: space-between;
  margin: 2% 0;
  padding: 0 2% 0 2%;
  text-transform: capitalize;
}
.menuDetails h4 {
  text-transform: capitalize;
  text-decoration: underline;
}
button.slick-arrow.slick-prev,
button.slick-arrow.slick-next {
  display: none !important;
}
button.slick-prev,
button.slick-next {
  background-color: black;
  border-radius: 50%;
}
.gallery {
  width: 100%;
  height: 500px;
}
.react-tabs__tab {
  font-size: 1.2em;
}
.react-tabs__tab-panel--selected {
  margin-top: 4%;
  margin-left: 2%;
}
@media only screen and (max-width: 992px) {
  .detailSection {
    padding-top: 11%;
  }
}
@media only screen and (max-width: 768px) {
  .detailSection {
    padding-top: 14%;
  }
  .detailContent {
    width: 98%;
  }
  .gallery {
    height: 370px;
  }
}
@media only screen and (max-width: 600px) {
  .detailSection {
    padding-top: 18%;
  }
  .menuDetails {
    font-size: 0.8em;
  }
  .menuDetails h4 {
    font-size: 1.2em;
  }

  .menuInfo {
    display: block;
  }
}
@media only screen and (max-width: 425px) {
  .detailSection {
    padding-top: 25%;
  }
  .detailContent {
    width: 100%;
  }
}
@media only screen and (max-width: 375px) {
  .detailSection {
    padding-top: 29%;
  }
  .gallery {
    height: 270px;
  }
  .detailContent {
    width: 100%;
  }
  .detailContainer.container {
    padding: 0%;
  }
}
