.costFilterArea {
  margin-bottom: 20%;
}
.filterHeading {
  text-align: center;
}

.sortContainer {
  margin-bottom: 20%;
}

@media only screen and (max-width: 767px) {
  .filterHeading {
    text-align: left;
    padding-left: 9%;
  }
  .costFilterArea {
    margin: 0%;
  }
}

@media only screen and (max-width: 500px) {
  .form-check {
    display: inline-block !important ;
  }
  .filterHeading {
    text-align: left;
  }
  .costFilterArea,
  .sortContainer {
    margin-bottom: 4%;
  }
}
